.item {
    position: relative;
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid gray;
    margin: 0 5px 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.status_icon {
    position: absolute;
    top: 5px;
    right: 30px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.recipientName {
    margin: 10px 0;
}

.green {
    background-color: yellowgreen;
}

.red {
    background-color: red;
}

.number {
    margin-bottom: 5px;
}

.stateName {
    font-size: 14px;
}

.sender_icon {
    position: absolute;
    top: 5px;
    right: 25px;
    color: rebeccapurple;
    font-size: 15px;
    font-weight: bold;
}

.more_icon {
    font-size: 20px;
    color: blue;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}