.track-blc {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.track-item {
    position: relative;
    width: 230px;
}

.track {
    padding: 10px;
    font-size: 14px;
    border: 1px solid gray;
    margin: 0 5px 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.track:nth-child(2n){
    margin-right: 0;
} 

.more_icon {
    font-size: 20px;
    color: blue;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin: 0 10px 5px 0;
}

.track-details {
    background-color: #fff;
    border: 1px solid gray;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.close_icon {
    font-size: 20px;
    color: gray;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 10px 10px 0 0;
}

