.trackcard__item {
    position: relative;
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid gray;
    margin: 0 5px 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.trackcard__status--icon {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 20px;
    color: transparent;
}

.trackcard__recipientName {
    margin: 10px 0;
}

.green {
    color: yellowgreen;
}

.red {
    color: red;
}

.trackcard__number {
    margin-bottom: 5px;
}

.trackcard__stateName {
    font-size: 14px;
}

.trackcard__sender--icon {
    position: absolute;
    top: 5px;
    right: 25px;
    color: rebeccapurple;
    font-size: 15px;
    font-weight: bold;
}