.trackcard__item {
    position: relative;
    width: 230px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid gray;
    margin: 0 5px 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.trackcard__status--icon {
    position: absolute;
    top: 25px;
    right: 13px;
    font-size: 15px;
    color: transparent;
}

.green {
    color: yellowgreen;
}

.red {
    color: red;
}

.trackcard__number {
    margin-bottom: 5px;
}

.trackcard__status--name {
    margin-bottom: 5px;
}

.trackcard__sender--icon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rebeccapurple;
    font-size: 15px;
    font-weight: bold;
}