.form_wrapper {
    margin: 20px;
}

.task_type {
    margin-bottom: 10px;
}

.task_title {
    margin-bottom: 10px;
}

.task_text {
    margin-bottom: 10px;
}
.task_tt {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
}
